<div class="container p-5">
  <div class="row justify-content-center">
    <h1 class="d-flex justify-content-center m-1">Request Personal Data</h1>
    <br>

    <p class="row justify-content-center m-1">You can request your personal data by filling this form. Or you can log in
      here.</p>
    <p class="row justify-content-center font-weight-bold m-2 ">EMAIL:</p>
    <input class="row justify-content-center form-control col-md-7" type="email">
    <br>
    <br>
    <br>
    <div class="row"></div>
    <p class="row justify-content-center col-md-7">I also consent to having BoostForU collect my email so that they can
      send me my requested info. For more info
      check our privacy policy where you'll get more info on where, how and why we store your data.</p>


    <div class="row"></div>
    <button class="btn btn-primary col-md-1 ">Submit</button>
  </div>
</div>
