<div class="container">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#" class="image">
                        <img class="pic-1" src="http://placehold.it/360X540">
                        <img class="pic-2" src="http://placehold.it/360X540">
                    </a>
                    <!-- <span class="product-sale-label">hot</span> -->
                    <span class="product-discount-label text-uppercase">Sold Out</span>
                </div>

                <div class="product-content">
                    <h3 class="title"><a href="#">Men's Blazer</a></h3>

                    <ul class="rating">
                       <li class="fas fa-star"></li>
                       <li class="fas fa-star"></li>
                       <li class="fas fa-star"></li>
                       <li class="fas fa-star"></li>
                       <li class="fas fa-star disable"></li>
                    </ul>
                    <div class="price"> $20.00</div>
                </div>
            </div>
</div>