<div class="banner header-text">
  <div class="owl-banner owl-carousel">
    <div class="banner-item-01" style="position: relative;">
      <div class="text-content" style="position: absolute; bottom: 0 ;">
        <div>
          <h1 class="mx-5 text-design" style="font-size: 74px; color: #fff"><strong>We fuel your day</strong></h1>
        </div>
        <div class="mx-5" style="font-size: 24px; color: #fff; letter-spacing: 3px; ">GET YOUR BOOST <button
            class="btn btn-outline-light mx-3" routerLink="/products">Shop Now</button> </div>
      </div>
    </div>
  </div>
</div>
