<div class="container-sm m-5" style="font-size: 17px; margin-top: 100px!important">
  <h1 class="m-5">About Us
  </h1>

  <p class="mx-5" style="font-size: 17px;">
    Our goal is to bring you helpful products at a high quality that will help you achieve a great experience. We
    have a
    very good support team and friendly staff who always strives for 100% customer satisfaction
    <br>
    <br>
    -
  </p>

  <br>



  <div class="mx-5">
    <p style="text-decoration: underline; font-size: 17px;">
      <strong>Energetic, Relaxing & Focusing Products</strong>
    </p>
    <br>
    <p style="font-size: 17px;">
      Our Natural supplements will help you to get the most out of your day!
    </p>
    <p style="font-size: 17px;">
      From energetic dietary supplements to relaxing and focusing nootropics products, you can find a wide variety of
      products that will inspire you to live your best life!
    </p>

    <p style="font-size: 17px;">
      Stop searching and start living your life with Boost 4 U.
    </p>
  </div>



  <div class="m-5">
    <p style="text-decoration: underline; font-size: 17px;">
      <strong>We’re on a Mission</strong>
    </p>
    <br>
    <p style="font-size: 17px;">
      Our mission is to help busy parents happier, more joyful people with products that are affordable and allow a day
      to
      be lived the best it can be..
    </p>
  </div>



  <div class="m-5">
    <p style="text-decoration: underline; font-size: 17px;">
      <strong>Our Vision is Clear</strong>
    </p>
    <br>
    <p style="font-size: 17px;">
      We want to bring you products that you will love. We fulfill that vision by working around the clock to partner
      with product manufactures offering the most interesting natural dietary supplements available.
    </p>
    <p class="my-5" style="font-size: 17px;">
      So still waiting? Inspire yourself and explore the world of Boost 4 U. Find innovation products that make you want
      to experience life in a new way right here, at Boost 4 U.


    </p>
  </div>
</div>
