<div class="container-sm m-5" style="font-size: 17px;">
    <h1 class="m-5">About Us
    </h1>

    <p class="container" style="font-size: 17px;">
        Our goal is to bring you helpful products at a high quality that will help you achieve a great experience. We
        have a
        very good support team and friendly staff who always strives for 100% customer satisfaction
    </p>
    <br>
    -
    <br>
    <p style="text-decoration: underline; font-size: 17px;">
        Energetic, Relaxing & Focusing Products
    </p>
    <br>
    <p style="font-size: 17px;">
        Our Natural supplements will help you to get the most out of your day!
    </p>
    <p style="font-size: 17px;">
        From energetic dietary supplements to relaxing and focusing nootropics products, you can find a wide variety of
        products that will inspire you to live your best life!
    </p>

    <p style="font-size: 17px;">
        Stop searching and start living your life with Boost 4 U.
    </p>
</div>