<footer class="site-footer">
  <div class="page-width">

    <div class="grid">


      <style data-shopify="">
        @media only screen and (min-width: 590px) {
          .footer__item--1494292485313 {
            width: 20%;
          }
        }
      </style>


      <div class="grid__item footer__item--1494292485313">


        <p class="footer__title small--hide">
          Home
        </p>
        <button aria-controls="Footer-1494292485313" aria-expanded="false"
                class="footer__title collapsible-trigger collapsible-trigger-btn medium-up--hide" type="button">
          Home
          <span class="collapsible-trigger__icon collapsible-trigger__icon--open" role="presentation">
  <svg aria-hidden="true" class="icon icon--wide icon-chevron-down" focusable="false" role="presentation"
       viewBox="0 0 28 16"><path d="M1.57 1.59l12.76 12.77L27.1 1.59" fill="none" fill-rule="evenodd" stroke="#000"
                                 stroke-width="2"></path></svg>
</span>

        </button>

        <div class="collapsible-content collapsible-content--small" id="Footer-1494292485313">
          <div class="collapsible-content__inner">
            <div class="footer__collapsible">
              <ul class="no-bullets site-footer__linklist">

                <li><a href="/">Home</a></li>

                <li><a href="/collections/all">Our Products</a></li>

                <li><a href="/pages/contact-us">Contact us</a></li>

                <li><a href="/pages/about-us">About Us</a></li>

                <li><a href="/pages/request-personal-data">My Personal Data</a></li>
              </ul>
            </div>
          </div>
        </div>


      </div>


      <style data-shopify="">
        @media only screen and (min-width: 590px) {
          .footer__item--1494301487049 {
            width: 20%;
          }
        }
      </style>


      <div class="grid__item footer__item--1494301487049">


        <p class="footer__title small--hide">
          Policy
        </p>
        <button aria-controls="Footer-1494301487049" aria-expanded="false"
                class="footer__title collapsible-trigger collapsible-trigger-btn medium-up--hide" type="button">
          Policy
          <span class="collapsible-trigger__icon collapsible-trigger__icon--open" role="presentation">
  <svg aria-hidden="true" class="icon icon--wide icon-chevron-down" focusable="false" role="presentation"
       viewBox="0 0 28 16"><path d="M1.57 1.59l12.76 12.77L27.1 1.59" fill="none" fill-rule="evenodd" stroke="#000"
                                 stroke-width="2"></path></svg>
</span>

        </button>

        <div class="collapsible-content collapsible-content--small" id="Footer-1494301487049">
          <div class="collapsible-content__inner">
            <div class="footer__collapsible">
              <ul class="no-bullets site-footer__linklist">

                <li><a href="/policies/privacy-policy">Privacy Policy</a></li>

                <li><a href="/policies/refund-policy">Refund Policy</a></li>

                <li><a href="/policies/terms-of-service">Terms of Service</a></li>

                <li><a href="/pages/shipping-policy">Shipping Policy</a></li>

              </ul>
            </div>
          </div>
        </div>


      </div>


      <style data-shopify="">
        @media only screen and (min-width: 590px) {
          .footer__item--1573041005812 {
            width: 20%;
          }
        }
      </style>


      <div class="grid__item footer__item--1573041005812">

        <p class="footer__title small--hide">CUSTOMER SATISFACTION</p>
        <button aria-controls="Footer-1573041005812" aria-expanded="false"
                class="footer__title collapsible-trigger collapsible-trigger-btn medium-up--hide" type="button">
          CUSTOMER SATISFACTION
          <span class="collapsible-trigger__icon collapsible-trigger__icon--open" role="presentation">
  <svg aria-hidden="true" class="icon icon--wide icon-chevron-down" focusable="false" role="presentation"
       viewBox="0 0 28 16"><path d="M1.57 1.59l12.76 12.77L27.1 1.59" fill="none" fill-rule="evenodd" stroke="#000"
                                 stroke-width="2"></path></svg>
</span>

        </button>

        <div class="collapsible-content collapsible-content--small" id="Footer-1573041005812">
          <div class="collapsible-content__inner">
            <div class="footer__collapsible">
              <p></p>
              <p>✓ Satisfaction Guarantee&nbsp;<br>✓&nbsp;24/7 Customer Support&nbsp;<br>✓&nbsp;Premium Quality Products&nbsp;<br>✓&nbsp;No
                Hassle Returns&nbsp;<br>✓&nbsp;Secured Transactions</p>
            </div>
          </div>
        </div>

      </div>


      <style data-shopify="">
        @media only screen and (min-width: 590px) {
          .footer__item--1494292487693 {
            width: 33%;
          }
        }
      </style>


      <div class="grid__item footer__item--1494292487693">

        <p class="footer__title small--hide">Sign up and save</p>
        <button aria-controls="Footer-1494292487693" aria-expanded="false"
                class="footer__title collapsible-trigger collapsible-trigger-btn medium-up--hide" type="button">
          Sign up and save
          <span class="collapsible-trigger__icon collapsible-trigger__icon--open" role="presentation">
  <svg aria-hidden="true" class="icon icon--wide icon-chevron-down" focusable="false" role="presentation"
       viewBox="0 0 28 16"><path d="M1.57 1.59l12.76 12.77L27.1 1.59" fill="none" fill-rule="evenodd" stroke="#000"
                                 stroke-width="2"></path></svg>
</span>

        </button>

        <div class="collapsible-content collapsible-content--small" id="Footer-1494292487693">
          <div class="collapsible-content__inner">
            <div class="footer__collapsible">

              <p></p>
              <p>Subscribe to get special offers, free giveaways, and once-in-a-lifetime deals.</p>
              <p></p>


              <form accept-charset="UTF-8" action="/contact#newsletter-footer" class="contact-form"
                    id="newsletter-footer"
                    method="post"><input name="form_type" type="hidden" value="customer"><input name="utf8"
                                                                                                type="hidden"
                                                                                                value="✓">

                <label class="hidden-label" for="Email-1494292487693">Enter your email</label>
                <input name="contact[tags]" type="hidden" value="prospect,newsletter">
                <input name="contact[context]" type="hidden" value="footer">
                <div class="footer__newsletter">
                  <input autocapitalize="off" autocorrect="off" class="footer__newsletter-input"
                         id="Email-1494292487693"
                         name="contact[email]" placeholder="Enter your email" type="email"
                         value="">
                  <button class="footer__newsletter-btn" name="commit" type="submit">
                    <svg aria-hidden="true" class="icon icon-email" focusable="false" role="presentation"
                         viewBox="0 0 64 64">
                      <path
                        d="M63 52H1V12h62zM1 12l25.68 24h9.72L63 12M21.82 31.68L1.56 51.16m60.78.78L41.27 31.68"></path>
                    </svg>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
