<footer class="" style="background: #111;">
  <div class="container py-5">
    <div class="row py-4 d-flex justify-content-center">
      <div class="col-lg-2 col-md-6 mb-4 mb-lg-0 mx-2" style="text-align: start;">
        <h6 class="text-uppercase font-weight-bold mb-4" style="color: #fff;"><strong>Home</strong></h6>
        <ul class="list-unstyled mb-0">
          <li class="mb-2"><a href="#" class="" style="color: #fff;" [routerLink]="'/'">Home</a></li>
          <li class="mb-2"><a href="#" class="" style="color: #fff;" [routerLink]="'/products'">Our Products</a></li>
          <li class="mb-2"><a href="#" class="" style="color: #fff;" [routerLink]="'/contact-us'">Contact Us</a></li>
          <li class="mb-2"><a href="#" class="" style="color: #fff;" [routerLink]="'/about-us'">About Us</a></li>
          <li class="mb-2"><a href="#" class="" style="color: #fff;" [routerLink]="'/request-personal-data'">My Personal
              Data</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-6 mb-4 mb-lg-0 mx-2" style="text-align: start;">
        <h6 class="text-uppercase font-weight-bold mb-4" style="color: #fff;"><strong>Privacy Policy</strong></h6>
        <ul class="list-unstyled mb-0">
          <li class="mb-2"><a href="#" class="" style="color: #fff;" [routerLink]="'/privacy-policy'">Privacy Policy</a>
          </li>
          <li class="mb-2"><a href="#" class="" style="color: #fff;" [routerLink]="'/refund-policy'">Refund Policy</a>
          </li>
          <li class="mb-2"><a href="#" class="" style="color: #fff;" [routerLink]="'/terms-of-service'">Terms of
              Service</a></li>
          <li class="mb-2"><a href="#" class="" style="color: #fff;" [routerLink]="'/shipping-policy'">Shipping
              Policy</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-6 mb-4 mb-lg-0 mx-2" style="text-align: start;">
        <h6 class="text-uppercase font-weight-bold mb-4" style="color: #fff;"><strong>CUSTOMER SATISFACTION</strong>
        </h6>
        <ul class="list-unstyled mb-0">
          <li class="mb-2">
            <div href="#" class="" style="color: #fff;">✓ Satisfaction Guarantee</div>
          </li>
          <li class="mb-2">
            <div href="#" class="" style="color: #fff;">✓ 24/7 Customer Support</div>
          </li>
          <li class="mb-2">
            <div href="#" class="" style="color: #fff;">✓ Premium Quality Products </div>
          </li>
          <li class="mb-2">
            <div href="#" class="" style="color: #fff;">✓ No Hassle Returns</div>
          </li>
          <li class="mb-2">
            <div href="#" class="" style="color: #fff;">✓ Secured Transactions</div>
          </li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-6 mb-lg-0 mx-2" style="text-align: start;">
        <h6 class="text-uppercase font-weight-bold mb-4" style="color: #fff;"><strong>SIGN UP AND SAVE</strong></h6>
        <p class="mb-4" style="color: #fff;">Subscribe to get special offers, free giveaways, and once-in-a-lifetime
          deals.</p>
        <div class="p-1 rounded border">
          <!-- <div class="input-group">
            <input type="email" placeholder="Enter your email address" aria-describedby="button-addon1"
              class="form-control border-0 shadow-0">
            <div class="input-group-append">
              <button id="button-addon1" type="submit" class="btn btn-link"><i class="fa fa-paper-plane"></i></button>
            </div>
          </div> -->
          <div class="input-group input-group-icon">
            <input type="email" placeholder="Email Address" />
            <div class="input-icon"><i class="fa fa-envelope"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Copyrights
  <div class="py-4" style="background: #111;">
    <div class="container text-center">
      <p class="text-muted mb-0 py-2">© WebSide All rights reserved.</p>
    </div>
  </div> -->
  <div class="row d-flex justify-content-center p-2" style="background-color: #212529; color: #fff;">
    <div class="col"></div>
    <div class="col-6"> © 2021 Boost For U, all Rights Reserved. Developed by <a href="https://webside.com.au"
        target="_blank">WebSide</a></div>
    <div class="col"></div>
  </div>
</footer>
