<div class="shopify-section index-section" id="shopify-section-1573040363008">

  <div class="page-width">


    <div class="feature-row aos-init aos-animate" data-aos="">


      <div class="feature-row__item feature-row__text feature-row__text--right larger-text">


        <div class="rte featured-row__subtext"><p>We all live busy lives whether juggling work, fitness, being a
          mother, running your own business, running around after kids, studying, healing our bodies &amp; jumping
          into life!&nbsp;</p>
          <p>Sometimes we need a little extra boost to get through the day in a healthy, natural way.&nbsp;</p>
          <p>This&nbsp;is where BOOST 4 U comes in- we are health &amp; wellness experts with over 15 years in the
            industry. Our range of every day boosters for every part or your day is based on our own experience, the
            experience of our clients over the years &amp; our passion for enhancing&nbsp;life naturally.&nbsp;</p>
        </div>


      </div>


      <div class="feature-row__item">
        <div style="margin: 0 auto; max-width: 500px;">


          <div class="image-wrap" style="height: 0; padding-bottom: 83.82978723404256%;"><img
            alt="" class="feature-row__image lazyautosizes lazyloaded"
            data-aspectratio="1.1928934010152283" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0268/0956/5232/files/Untitled_design_180x.png?v=1568507296 180w, //cdn.shopify.com/s/files/1/0268/0956/5232/files/Untitled_design_360x.png?v=1568507296 360w, //cdn.shopify.com/s/files/1/0268/0956/5232/files/Untitled_design_540x.png?v=1568507296 540w, //cdn.shopify.com/s/files/1/0268/0956/5232/files/Untitled_design_720x.png?v=1568507296 720w, //cdn.shopify.com/s/files/1/0268/0956/5232/files/Untitled_design_900x.png?v=1568507296 900w, //cdn.shopify.com/s/files/1/0268/0956/5232/files/Untitled_design_1080x.png?v=1568507296 1080w"
            data-widths="[180, 360, 540, 720, 900, 1080]"
            sizes="460px"
            srcset="//cdn.shopify.com/s/files/1/0268/0956/5232/files/Untitled_design_180x.png?v=1568507296 180w, //cdn.shopify.com/s/files/1/0268/0956/5232/files/Untitled_design_360x.png?v=1568507296 360w, //cdn.shopify.com/s/files/1/0268/0956/5232/files/Untitled_design_540x.png?v=1568507296 540w, //cdn.shopify.com/s/files/1/0268/0956/5232/files/Untitled_design_720x.png?v=1568507296 720w, //cdn.shopify.com/s/files/1/0268/0956/5232/files/Untitled_design_900x.png?v=1568507296 900w, //cdn.shopify.com/s/files/1/0268/0956/5232/files/Untitled_design_1080x.png?v=1568507296 1080w">
          </div>


        </div>
      </div>


    </div>
  </div>


</div>
