<!-- Section 3 -->
<div class="row m-5">
  <div class="col-md-6 mt-5">
    <p class="mt-5 lead text-uppercase" style="  letter-spacing: 3px; margin-bottom: 10px;">Best selling</p>
    <p class="h5 my-4 font-weight-bold"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque
      corporis amet elite author nulla. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque
      corporis amet elite author nulla. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque
      corporis amet elite author nulla. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque
      corporis amet elite author nulla. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque
      corporis amet elite author nulla. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque
      corporis amet elite author nulla.</p>
  </div>
  <div class="col-md-5">
    <a href="#">
      <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/400x400" alt="">
    </a>
  </div>
</div>