<!-- Section 3 -->
<div class="row m-5">
  <div class="col-md-6 mt-5">
    <!-- <p class="mt-5 lead text-uppercase" style="  letter-spacing: 3px; margin-bottom: 10px;">Best selling</p> -->
    <p class="h5 my-4 font-weight-normal"> We all live busy lives whether juggling work, fitness, being a mother, running
      your own business, running around after kids, studying, healing our bodies & jumping into life!
      <br><br>
      Sometimes we need a little extra boost to get through the day in a healthy, natural way.
      <br><br>
      This is where BOOST 4 U comes in- we are health & wellness experts with over 15 years in the industry. Our range
      of every day boosters for every part or your day is based on our own experience, the experience of our clients
      over the years & our passion for enhancing life naturally. </p>
  </div>
  <div class="col-md-5">
    <a href="#">
      <img class="img-fluid rounded mb-3 mb-md-0" src="assets/images/Untitled_design_540x.png" alt="">
    </a>
  </div>
</div>
