<div class=" p-5">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-6">
      <h1 class="">Shipping Policy</h1>

      <div class="my-4">Our Product takes 3 - 5 days to deliver to your door within the U.S as we take 1 - 2 days to
        manufacture the product in our factory.</div>

      <div class="my-2">Worldwide shipping can take 7-14 days Shipping to anywhere in the world.</div>

      <div class="my-5">We will provide you the tracking number and you can contact the support anytime at
        support@boostforu.com</div>
    </div>
  </div>
</div>
